{% extends "layout/_base.html" %}
{% load static %}
{% block content %}
<div id="homepage-background">
  <img src="{% static 'layout/images/homepage_background.svg' %}" width="100%" height="auto">
</div>
<div id="homepage-content">
  <div class="container-fluid">
    <div class="container-xl px-3">
      <div class="col-12 p-5 mb-4 text-start">
        <h1 class="h3 text-start text-white">
          <b>The source depth refers to the depth that upwelled water originates from.</b>
        </h1>
        <h2 class="h3 text-start text-white">
          This depth is important for setting the water properties, such as temperature and salinity, and the nutrients that are available to the surface ocean.
        </h2>
        <h2 class="h3 text-start text-white">
          Similarly, the currents of the internet have brought you here, so I hope you can find something interesting!
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-xl px-5">
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/blog/">
        <div class="row-link-div row rounded-4 border border-5 border-white border-end-0 border-start-0">
          <div class="col-6 fish-div fish-div-left d-flex justify-content-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="100px">
          </div>
          <div class="col-6 link-div">
            <!-- <h2 class="text-center"><img class="bi bd-image" src="{% static 'layout/images/pen-fill-dark.svg' %}" alt="A pen, a symbol for the link to my blog" height="40"/></h2> -->
            <p class="h1 text-center text-white fw-bold">Blog</p>
          </div>
        </div>
      </a>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/career/">
        <div class="row-link-div row rounded-4 border border-5 border-white border-end-0 border-start-0">
          <div class="col-6 link-div">
            <!-- <h2 class="text-center"><img class="bi bd-image" src="{% static 'layout/images/briefcase-fill-dark.svg' %}" alt="A briefcase, a symbol for the link to my work page" height="40"/></h2> -->
            <p class="h1 text-center text-white fw-bold">My Work</p>
          </div>
          <div class="col-6 fish-div fish-div-right d-flex justify-content-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="100px">
          </div>
        </div>
      </a>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/aboutme/">
        <div class="row-link-div row rounded-4 border border-5 border-white border-end-0 border-start-0">
          <div class="col-6 fish-div fish-div-left d-flex justify-content-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="100px">
          </div>
          <div class="col-6 link-div">
            <!-- <h2 class="text-center"><img class="bi bd-image" src="{% static 'layout/images/person-fill-dark.svg' %}" alt="A person outline, a symbol for the link to my about me page" height="40"/></h2> -->
            <p class="h1 text-center text-white fw-bold">About Me</p>
          </div>
        </div>
      </a>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/contactme/">
        <div class="row-link-div row rounded-4 border border-5 border-white border-end-0 border-start-0">
          <div class="col-6 link-div">
            <!-- <h2 class="text-center"><img class="bi bd-image" src="{% static 'layout/images/envelope-fill-dark.svg' %}" alt="An envelope, a symbol for the link to my contact page" height="40"/></h2> -->
            <p class="h1 text-center text-white fw-bold">Contact Me</p>
          </div>
          <div class="col-6 fish-div fish-div-right d-flex justify-content-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="100px">
          </div>
        </div>
      </a>
      <div class="row justify-content-md-center">
        <div class="col-6 homepage-bottom-padding">
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}
