{% extends "layout/_base.html" %}
{% load static %}
{% block content %}
<div id="homepage-background-wide">
  <img src="{% static 'layout/images/homepage_background_wide.svg' %}">
</div>
<div id="homepage-background">
  <img src="{% static 'layout/images/homepage_background.svg' %}">
</div>
<div id="homepage-content">
  <div class="container-fluid">
    <div class="container-lg px-0">
      <div class="col-12 pb-5 mb-4 text-start">
        <h1 class="text-start text-white fs-4">
          <b>&#x1F44B; Hi, I'm Andrew. I'm a graduate student in physical oceanography, studying our coastal oceans.</b>
        </h1>
        <h1 class="text-start text-white fs-4">
          The source depth, namesake of this site, is the depth that upwelled water originates from.
        </h1>
        <h2 class="text-start text-white fs-4">
          This depth influences water properties, such as temperature and salinity, and the nutrients that are available to the surface ocean.
        </h2>
        <h2 class="text-start text-white fs-4">
          Similarly, the currents of the internet have brought you here, so I hope you find something interesting!
        </h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-lg px-0">
      <div class="row-link-divider">
        <img src="{% static 'layout/images/sine_wave.svg' %}">
      </div>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/blog/">
        <div class="row-link-div row rounded-4">
          <div class="col-6 fish-div fish-div-left d-flex justify-content-center align-items-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="60px">
          </div>
          <div class="col-6 link-div">
            <p class="text-center text-white fw-bold m-0 fs-3">Blog</p>
          </div>
        </div>
      </a>
      <div class="row-link-divider">
        <img src="{% static 'layout/images/sine_wave.svg' %}">
      </div>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/career/">
        <div class="row-link-div row rounded-4">
          <div class="col-6 link-div">
            <p class="text-center text-white fw-bold m-0 fs-3">My Work</p>
          </div>
          <div class="col-6 fish-div fish-div-right d-flex justify-content-center align-items-center">
            <img class="fish-image" src="{% static 'layout/images/red_fish.svg' %}" alt="A red fish" width="auto" height="60px">
          </div>
        </div>
      </a>
      <div class="row-link-divider">
        <img src="{% static 'layout/images/sine_wave.svg' %}">
      </div>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/aboutme/">
        <div class="row-link-div row rounded-4">
          <div class="col-6 fish-div fish-div-left d-flex justify-content-center align-items-center">
            <img class="fish-image" src="{% static 'layout/images/yellow_fish.svg' %}" alt="A yellow fish" width="auto" height="60px">
          </div>
          <div class="col-6 link-div">
            <p class="text-center text-white fw-bold m-0 fs-3">About Me</p>
          </div>
        </div>
      </a>
      <div class="row-link-divider">
        <img src="{% static 'layout/images/sine_wave.svg' %}">
      </div>
      <a class="row justify-content-md-center link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover row-link px-4" href="/contactme/">
        <div class="row-link-div row rounded-4">
          <div class="col-6 link-div">
            <p class="text-center text-white fw-bold m-0 fs-3">Contact Me</p>
          </div>
          <div class="col-6 fish-div fish-div-right d-flex justify-content-center align-items-center">
            <img class="fish-image" src="{% static 'layout/images/red_fish.svg' %}" alt="A red fish" width="auto" height="60px">
          </div>
        </div>
      </a>
      <div class="row-link-divider">
        <img src="{% static 'layout/images/sine_wave.svg' %}">
      </div>
      <div class="row justify-content-md-center">
        <div class="col-6 homepage-bottom-padding">
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}
