:root {
  --navbar-height: 50px;
  --navbar-min-width: 992px;
}
.border-dashed { --bs-border-style: dashed; }
@media (min-width: 992px) {
  #search {
    height: var(--navbar-height);
    align-items: center;
  }
  .form-group {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #collapsednavbar {
    display: none !important; 
  }
  #collapsednavbartheme {
    display: none !important; 
  }
  .nav-link {
    text-align: center;
  }
  .nav-link-page {
    width: 120px;
    padding: 0;
    line-height: var(--navbar-height);
    text-align: center;
  }
  .navbar {
    height: var(--navbar-height);
  }
  .navbar-nav{
    height: var(--navbar-height);
  }
  .nav-img-fluid {
    max-height: var(--navbar-height);
    height: var(--navbar-height);
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-img-fluid img {
    height: 100%;
    max-width: 100%;
  }
  .nav-item {
    align-items: center;
  }
  .nav-link.dropdown-toggle {
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    padding: 0;
    z-index: 1100;
  }
}
@media (max-width: 991px) {
  #collapsednavbar {
    width: 100vw;
  }
  #regularnavbar {
    display: none !important;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
  }
  .nav-link {
    text-align: center;
  }
  .nav-page {
    width: 200px;
  }
  .navbar {
    height: var(--navbar-height);
  }
  #thumbnail {
    max-height: 150px;
  }
  .navbar-nav hr {
    margin: 0;
    width: 200px;
  }
}
#content {
  overflow: clip;
}
.banner-img {
  background: url('../images/banner.jpg') center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}
.banner-img-subpage {
  background: url('../images/banner_subpages.jpg') center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200px;
}
.aboutme-img {
  height: 250px;
  max-width: auto;
}
#sidebar {
  z-index: 1;
}
.nav-page.dark:hover {
  background-color: #343a40;
}
.nav-page.light:hover {
  background-color: #dee2e6;
}
.nav-page.active.dark {
  background-color: #343a40;
  -webkit-box-shadow: inset 0px 0px 5px #212529;
    -moz-box-shadow: inset 0px 0px 5px #212529;
      box-shadow: inset 0px 0px 5px #212529;
  outline: none;
}
.nav-page.active.light {
  background-color: #dee2e6;
  -webkit-box-shadow: inset 0px 0px 5px #ced4da;
    -moz-box-shadow: inset 0px 0px 5px #ced4da;
      box-shadow: inset 0px 0px 5px #ced4da;
  outline: none;
}
#thumbnail {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}
#thumbnail img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
#allergy-plot {
  align-content: center;
}
.bio-img {
  min-width: 350px;
}
.container-xxl {
  max-width: 1400px;
}
.container-xl {
  max-width: 1200px;
}
.container-lg {
  max-width: 992px;
}
.container-md {
  max-width: 768px;
}
.container-sm {
  max-width: 576px;
}
#comments {
  display: none;
}
.row-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.row-link-div {
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}
.row-link-divider img {
  width: 100%;
  height: auto;
  margin-top: -45%;
  margin-bottom: -45%;
}
.row-link-div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.link-div {
  align-content: center;
}
.fish-div {
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}
.fish-div-right {
  transform: scaleX(-1);
}
@media (min-width: 700px){
  .row-link-div:hover > .fish-div-left {
    transform: translateX(50%);
  }
  .row-link-div:hover > .fish-div-right {
    transform: translateX(-50%) scaleX(-1);
  }
}
.homepage-bottom-padding {
  padding-bottom: 50px;
}
#homepage-background-wide {
  visibility:visible;
  display:block;
  position:relative;
  width:10000px;
  margin-left:50%;
  transform:translateX(-50%)
}
#homepage-background {
  visibility:hidden;
  display: none;
}
#homepage-content {
  position:relative;
  margin-top:-360px;
}
@media (max-width:700px) {
  #homepage-background {
    visibility:visible;
    display:block;
    position:relative;
    height: 560px;
  }
  #homepage-background img {
    width:calc(calc(0.80*100vw) + 140px);
    margin-left:50%;
    transform:translateX(-50%);
  }
  #homepage-background-wide {
    visibility:hidden;
    display: none;
  }
  #homepage-content {
    margin-top: calc(15/76*100vw - 9465px/19);
  }
}
#content {
  background-color:#064273
}