{% extends "layout/_base.html" %}
{% load static %}
{% block title %}
  Contact Me
{% endblock %}
{% block content %}
<div class="px-3 pt-5 mb-0 bg-body-tertiary banner-img-subpage" id="page_title">
  <div class="container-lg">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="display-5 fw-bold text-dark">Contact Me</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid px-4" >
  <div class="row align-items-center justify-content-center py-3 my-3">
    <div class="col d-flex justify-content-center px-0" id="contact-me-emails">
      <div class="row align-items-center justify-content-center" style="max-width: 800px;">
        <div class="col-2 email-img">
          <img class="bi m-0 email-img float-end img-fluid mh-50 bd-image" src="{% static 'layout/images/email-closed-dark.svg' %}" alt="Closed letter"/>
        </div>
        <div class="col-10 col-sm-8 align-items-center px-0">
          <p class="m-0 my-4 h3 text-center text-sm-end">andrew@sourcedepth.com</p>
        </div>
        <hr>
        <div class="w-100"></div>
        <div class="col-2 email-img">
          <img class="bi m-0 email-img float-end img-fluid mh-50 bd-image" src="{% static 'layout/images/email-closed-dark.svg' %}" alt="Closed letter"/>
        </div>
        <div class="col-10 col-sm-8 align-items-center px-0">
          <p class="m-0 my-4 ms-2 h3 text-center text-sm-end">scherand@oregonstate.edu</p>
        </div>
        <hr>
        <div class="w-100"></div>
        <div class="col-2 email-img">
          <img class="bi m-0 email-img float-end img-fluid mh-50 bd-image" src="{% static 'layout/images/email-closed-dark.svg' %}" alt="Closed letter"/>
        </div>
        <div class="col-10 col-sm-8 align-items-center px-0">
          <p class="m-0 my-4 ms-2 h3 text-center text-sm-end">ascherer97@gmail.com</p>
        </div>
      </div>
    </div>
    <!-- <div class="col-2" id="personal-email-label">
      <p class="m-0 ms-2 h4 text-start">[personal]</p>
    </div> -->

    <!-- <div class="col-2" id="personal-email-label">
      <p class="m-0 ms-2 h3 text-start">[work]</p>
    </div> -->
  </div>
</div>

{% endblock %}